  <!-- Header -->
  <a name="about"></a>
  <div class="intro-header">
      <div class="container">

          <div class="row">
              <div class="col-lg-12">
                  <div class="intro-message">
                      <h1>Victory Garden</h1>
                      <div class="">
                        <h3><p>The best tasting fruits and vegetables grown in your home at ease.</p></h3>
                      </div>
                      <h3>Feed <span class="everyone"></span></h3>
                      <div class="buffer"></div>
                      <ul class="list-inline intro-social-buttons">
                          <li>
                              <a href="#pre-order" id="preorder" class="btn btn-default btn-success btn-lg"><i class="fa"></i> <span class="network-name">Pre-Order Now</span></a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>

      </div>
      <!-- /.container -->

  </div>
  <!-- /.intro-header -->

  <!-- Page Content -->

<a  name="services"></a>
  <div class="content-section-a">

      <div class="container">
          <div class="row">
              <div class="col-lg-5 col-sm-6">
                  <div class="clearfix"></div>
                  <h2 class="section-heading">Grow Indoors<h2>
                  <p class="lead">Add your favorite seeds, water, and organic plant food. Plug it in and you're done -- Victory Garden will do the rest.</p>
              </div>
              <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                  <img class="img-responsive round" src="img/ipad.png" alt="">
              </div>
          </div>

      </div>
      <!-- /.container -->

  </div>
  <!-- /.content-section-a -->

  <div class="hide content-section-b">

      <div class="container">

          <div class="row text-center">
              <div class="col-lg-4">
                <h1>
                  <img src="img/peppers.png" > 
                </h1>
                <h2>
                  <img src="http://placehold.it/100x100" > 
                </h2>
              </div>
              <div class="col-lg-4">
                <h1>
                  <img src="img/strawberry.png" > 
                </h1>
                <h2>
                  <img src="http://placehold.it/100x100" > 
                </h2>
              </div>
              <div class="col-lg-4">
                <h1>
                  <img src="img/tiny.png" > 
                </h1>
                <h2>
                  <img src="http://placehold.it/100x100" > 
                </h2>
              </div>
          </div>

      </div>
      <!-- /.container -->

  </div>
  <!-- /.content-section-b -->

  <div class="hide content-section-a">

      <div class="container">

          <div class="row">
              <div class="col-lg-5 col-sm-6">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <h2 class="section-heading">Stack Them</h2>
                  <p class="lead">This template features the 'Lato' font, part of the <a target="_blank" href="http://www.google.com/fonts">Google Web Font library</a>, as well as <a target="_blank" href="http://fontawesome.io">icons from Font Awesome</a>.</p>
              </div>
              <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                  <img class="img-responsive" src="img/phones.png" alt="">
              </div>
          </div>

      </div>
      <!-- /.container -->

    </div>
  <!-- /.content-section-a -->

   <!--       <ul class="social-list-small">
          <li>
            <g:plusone size="medium" href="<%= request.url %>"></g:plusone>
          </li>
          <li>
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= request.url %>" data-text="I just signed up for this:">Tweet</a>
          </li>
          <li>
            <div class="fb-like" data-href="<%= request.url %>" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-font="arial"></div>
          </li>
        </ul>

        <div id="notices">
          <div id="success" style="display: none;">Success! Please check your inbox for a confirmation request.</div>
          <div id="error" style="display: none;">Sorry, MailChimp couldn't validate your email. Try again?</div>
        </div>
        <form action="/signup" class="form-inline">
          <input id="email" name="email"  type="text" class="input-xlarge" placeholder="Email me about the project">
          <button type="submit" class="btn btn-success">Subscribe</button>
        </form> -->
<!-- Ouibounce Modal -->
<div id="ouibounce-modal">
  <div class="underlay"></div>
  <div class="modal">
    <div class="modal-title">
      <h3>Before You Go</h3>
    </div>

    <div class="modal-body">
      <div class="row text-center">
        <h1>Thanks for stoping by!</h1>
        <h2>Don't forget to sigin-up for updates.</h2>
      </div>
      <form action="/signup" class="form-inline">
        <input id="email" name="email"  type="text" class="input-xlarge" placeholder="Keep me updated.">
        <button type="submit" class="btn btn-lg btn-success">Subscribe</button>
      </form>
    </div>

    <div class="modal-footer">
      <p>no thanks</p>
    </div>
  </div>
</div>
