<div class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>About</h2>
                <p class="message">
                Hello esteemed professionals,
                </br>
                </br>
                I am a seasoned full-stack Software Engineer and design consultant proudly based in Brooklyn, NYC.
                </br>
                My expertise spans crafting both intricate WordPress solutions and tailored custom systems. Proficient in a spectrum of technologies including JavaScript/TypeScript, HTML/CSS, Ruby on Rails, Elixir, along with adept skills in CI/CD Deployment and Debugging. Let's collaborate and elevate your digital ventures to new heights.
                </p>
                <h3 class="signature">Edward A Reed II</h3>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.banner -->
