<div class="">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>Contact Me</h2>
                  <a href="https://www.linkedin.com/in/edwardreedii/" target="_blank">linkedin.com/in/edwardreedii/</a>
                  <br>
                  <a href="https://calendly.com/edwardreed2/30min/" target="_blank">calendly.com/edwardreed2/30min</a>
                 
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.banner -->
