<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Take control.</h1>
      </div>
    </div>
    <div class="half-buffer"></div>
    <div class="end-of-q2">
    <div class="row">
      <div class="col-lg-12">
        <a href="#pre-order" id="preorder-btn" class="btn btn-default btn-success btn-lg"><i class="fa"></i> <span class="network-name">Pre-Order Now</span></a>
      </div>
    </div>
    </div>
    <div class="buffer"></div>
      <div class="row">
          <div class="col-lg-12">
              <ul class="list-inline">
              <li>
                  <a href="/#about">About</a>
              </li>
              <div class="end-of-q2">
                  <li class="footer-menu-divider">&sdot;</li>
              <li>
                  <a href="/faq">FAQ</a>
              </li>
              </div>
                  <li class="footer-menu-divider">&sdot;</li>
              <li>
                  <a href="/#contact">Contact</a>
              </li>
              </ul>
              <p class="copyright text-muted small">Copyright &copy; Kiwano Grow 2019. All Rights Reserved</p>
          </div>
      </div>
  </div>
</footer>
