<div class="">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>Hire Me</h2>
                <a href="https://www.fiverr.com/edwardreedii" target="_blank">fiverr.com/edwardreedii</a>
                </br>
                <a href="https://www.upwork.com/freelancers/~0141e00f8fc6eefaa8" target="_blank">upwork.com/freelancers/~0141e00f8fc6eefaa8</a>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.banner -->
