<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2>Kiwano's Story</h2>
      </div>
      <div class="col-lg-6">
    <div class="row">
      <div class="content-section-a">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-sm-6">
            </div>
          </div>
        </div>
      </div>
        <ul class="list-inline banner-social-buttons">
          <li>
            <!--<a href="mailto:hello@kiwanogrow.co?Subject=Hello" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-envelope-o fa-fw"></i> <span class="network-name">hello@grandir.co</span></a> -->
          </li>
          <li>
            <a href="https://www.facebook.com/kiwanogrow" target="_blank"class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
          </li>
        </ul>
      </div>
    </div>
    </br>
    </div>
  </div>
</div>
</div>
