<div class="timeline">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>Timeline</h2>
                <div class="container mt-5 mb-5">
                  <div class="row">
                    <div class="col-md-6 offset-md-3">
                      <ul class="timeline">
                        <li>
                          <a href="#">Software Engineer Apprentice at Revelry</a>
                          <a href="#" class="float-right">2013</a>
                          <p>First Time working with a startup</p>
                          <p>Learning more about interworking of tech companies</p>
                        </li>
                        <li>
                          <a href="#">ULL</a>
                          <a href="#" class="float-right">2012</a>
                          <p>Karate, Gardening, club, college experience.</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.banner -->
